.search-form {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(84, 141, 199);
  width: 100%;
  font-size: 25px;
  padding: 20px;
}

.form-input {
  padding: 10px;
  font-family: sans-serif;
}

.button {
  display: block;
  margin-left: 10px;
  background-color: rgb(187, 221, 231);
  border: 2;
  border-color: rgb(126, 169, 211);
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
  font-size: 20px;
  color: rgb(12, 66, 121);
}

.gallery-container {
  margin: 110px auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
  flex-basis: calc(100% - 120px / 4);
}

.photo-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 30px;
  margin-top: 30px;
}

.info {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 10px;
  font-weight: lighter;
  color: rgb(65, 64, 64);
  padding: 15px 5px;
  background-color: rgb(187, 221, 231);
}

.load-more {
  display: block;
  margin: 20px auto;
}

.load-more.is-hidden {
  display: none;
}
